@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

@font-face {
    font-family: "AkkuratMono";
    src: url(../../fonts/akkurat-mono.ttf);
}

body{
	margin: 0;
	background-color: black;
	color: #ff5000;
	font-family: AkkuratMono;
	font-size: 9pt;
	overflow-x: hidden;
}

#debugSizeWrap{
	margin-top: 120px;
}
.debugSize{
	display: inline-block;
	float: left;
}

#asciiDrawing {
	word-break: keep-all;
	white-space: pre-wrap;
	text-overflow: ellipsis;
}

.hidden{
	color: rgba(0,0,0,0);
}

#tempMeasure {
	padding: 0;
}

#tempMeasure div {
	display: inline;
}